$body-color: #072448; // Page background color
$calculator-panel: #15121b; // Calculator background color
$calculator-button-main: #ffcb00; // For number pads
$calculator-button-warning: #e95747; // For pads with irreversible actions
$display-screen-bg: #241f2e;
$display-screen-text: #ffffff;
$text-main: rgb(15, 15, 15) //For texts