@use './_variables.scss' as vars;
@use './_functions.scss' as funcs;

.panel {
    @include funcs.centre();
    background-color: vars.$calculator-panel;
    border-radius: 1rem;
    width: 350px;
    height: 350px;
}

@media only screen and (min-width: 1080px) {
    .panel {
        zoom: 1.5;
        -moz-transform: scale(1.5);
        -moz-transform-origin: 525px 525px;
    }
}

.panel-content {
    @include funcs.centre();
}