@use './_variables.scss' as vars;
@use './_functions.scss' as funcs;

#panel {
    @include funcs.centre();
    background-color: vars.$calculator-panel;
    border-radius: 1rem;
    width: 350px;
    height: 350px;
}